@page "/players"
@using Microsoft.AspNetCore.Components.QuickGrid

<PageTitle>Players</PageTitle>

<h1 class="text-2xl font-bold mb-4">Bans</h1>

<filter Model="_model" />

<QuickGrid TItem="PlayerViewModel"
           @ref="Grid"
           Items="@_playersQuery"
           Pagination="@_pagination"
           Class="grow">
    <PropertyColumn Property="@(ban => ban.LastSeenUsername)" Title="Last Name"></PropertyColumn>
    <PropertyColumn Property="@(ban => ban.Guid)" Title="User ID"></PropertyColumn>
    <PropertyColumn Property="@(ban => ban.LastSeen)" Title="Last Seen Time"></PropertyColumn>
    <PropertyColumn Property="@(ban => ban.LastSeenIPAddress)" Title="Last Seen Address"></PropertyColumn>
    <PropertyColumn Property="@(ban => ban.LastSeenHwid)" Title="Last Seen Hwid"></PropertyColumn>
    <PropertyColumn Property="@(ban => ban.FirstSeen)" Title="First Seen"></PropertyColumn>
    <TemplateColumn Title="Actions" Context="player">
                <NavLink href="@($"players/{player.Guid}")" class="btn btn-primary">
                    <i class="ri-info-card-line"></i>
                </NavLink>
    </TemplateColumn>
</QuickGrid>
<Pagination OnRefreshRequired="Refresh" class="py-2 border-t bg-primary-1 sticky-pagination" State="@_pagination"/>
