@page "/bans"
@using Microsoft.AspNetCore.Components.QuickGrid
@using SS14.Admin.Components.Shared.Filter

<PageTitle>Bans</PageTitle>

<h1 class="text-2xl font-bold mb-4">Bans</h1>

<div class="flex gap-2 mb-4">
    <AuthorizeView Roles="MASSBAN">
        <Authorized>
            <NavLink href="/bans/createmassban" class="button button-primary">Create new Mass Ban</NavLink>
        </Authorized>
    </AuthorizeView>
    <AuthorizeView Roles="BAN">
        <Authorized>
            <NavLink href="/bans/createban" class="button button-primary">Create new Ban</NavLink>
        </Authorized>
    </AuthorizeView>
</div>

<Filter Model="_model" />

<div class="w-full shadow rounded-lg overflow-hidden">
    <QuickGrid TItem="BanViewModel"
               @ref="Grid"
               Items="@_bansQuery"
               Pagination="@_pagination"
               Class="w-full">
        <PropertyColumn Property="@(ban => ban.PlayerName)" Title="Name"></PropertyColumn>
        <PropertyColumn Property="@(ban => ban.IPAddress)" Title="IP"></PropertyColumn>
        <PropertyColumn Property="@(ban => ban.Hwid)" Title="HWID"></PropertyColumn>
        <PropertyColumn Property="@(ban => ban.PlayerUserId)" Title="GUID"></PropertyColumn>
        <PropertyColumn Property="@(ban => ban.Reason)" Title="Reason"></PropertyColumn>
        <PropertyColumn Property="@(ban => ban.BanTime)" Title="Ban Time" Format="yyyy-MM-dd HH:mm:ss" Sortable="true"></PropertyColumn>
        <PropertyColumn Property="@(ban => ban.ExpirationTime)" Title="Expires" Format="yyyy-MM-dd HH:mm:ss" Sortable="true"></PropertyColumn>
        <PropertyColumn Property="@(ban => ban.Admin)" Title="Banning Admin"></PropertyColumn>
        <PropertyColumn Property="@(ban => ban.HitCount)" Title="Hits"></PropertyColumn>
        <TemplateColumn Title="Actions">
            @if (!_confirmations.ContainsKey(context.Id) || !_confirmations[context.Id])
            {
            <button class="btn btn-secondary" @onclick="() => ShowConfirmation(context.Id, context.Active)">
                @(context.Active ? "Unban" : "Reban")
            </button>
            }
            else
            {
            <button class="btn btn-danger bg-red-500 hover:bg-red-600 rounded hover:text-white" @onclick="() => ConfirmAction(context.Id, context.Active)">
                Are you sure?
                </button>
            }
        </TemplateColumn>
    </QuickGrid>
    <Pagination OnRefreshRequired="Refresh" class="py-2 border-t sticky-pagination" State="@_pagination" />
</div>
