@page "/logs"
@using Microsoft.AspNetCore.Components.QuickGrid


<PageTitle>Logs</PageTitle>
<h2>Logs</h2>

<QuickGrid @ref="Grid" Items="LogsQuery()" Pagination="@_pagination" Class="grow">
    <PropertyColumn Property="@(log => log.RoundId)" Title="Name"></PropertyColumn>
    <PropertyColumn Property="@(log => log.Round != null ? log.Round.Server.Name : "")" Title="Server"></PropertyColumn>
    <PropertyColumn Property="@(log => log.Impact)"  Title="Impact" Sortable="true"></PropertyColumn>
    <PropertyColumn Property="@(log => log.Date)" Title="Date" Sortable="true" IsDefaultSortColumn InitialSortDirection="SortDirection.Descending"></PropertyColumn>
    <PropertyColumn Property="@(log => log.Type)" Title="Type"></PropertyColumn>
    <PropertyColumn Property="@(log => log.Message)" Title="Message"></PropertyColumn>
</QuickGrid>

<Pagination OnRefreshRequired="Refresh" class="py-2 border-t sticky-pagination" State="@_pagination" />
