
<div class="flex">
    @foreach (var property in Model.GetType().GetProperties().Where(p => p.CanWrite))
    {
        //TODO: Change this to use code generation :thonk:
        var value = property.GetValue(Model);
        @switch (property.PropertyType.Name)
        {
            case nameof(String):
                <input type="text" class="bg-secondary-1 text-primary-1 p-1" name="@property.Name"
                       id="@property.Name" value="@value" @onchange="@(args =>  OnInput(args, property))"  />
                break;

            case nameof(Int32):
                <input type="number" class="bg-secondary-1 text-primary-1 p-1" name="@property.Name"
                       id="@property.Name" value="@value" @onchange="@(args =>  OnInput(args, property))"  />
                break;

            case nameof(Enum):
                <select class="bg-secondary-1 text-primary-1 p-1" name="@property.Name"
                        id="@property.Name" @onchange="@(args => OnEnumInput(args, property))">
                    @foreach (var enumValue in Enum.GetValues(property.PropertyType))
                    {
                        <option selected="@value?.Equals(enumValue)" value="@enumValue">@enumValue</option>
                    }
                </select>
                break;
        }
    }
</div>
