
<div class="flex">
    @foreach (var property in Model.GetType().GetProperties())
    {
        //TODO: Change this to use code generation :thonk:
        @switch (property.GetValue(Model))
        {
            case string value:
                <input type="text" name="@property.Name" id="@property.Name" value="@value" @onchange="@(args =>  OnInput(args, property))"  />
                break;

            case int value:
                <input type="number" name="@property.Name" id="@property.Name" value="@value" @onchange="@(args =>  OnInput(args, property))"  />
                break;

            case Enum value:
                <select name="@property.Name" id="@property.Name" @onchange="@(args => OnInput(args, property))">
                    @foreach (var enumValue in Enum.GetValues(value.GetType()))
                    {
                        
                    }
                </select>
                break;
        }
    }
</div>
